@font-face {
    font-family: manuka;
    src: url(./manuka-regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: manuka;
    font-weight: 700;
    src: url(./manuka-bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manuka;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    /* height: 60px; */
    width: 100%;
    /* background-color: aqua; */
    position: fixed;
    z-index: 9;
    padding: 1vw 3vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#music-bar{
    height: 50px;
    width: 60px;

    overflow: hidden;
    /* background-color: red; */
}
#nav-part2 img{ 
    height: 100%;
    object-fit: cover;
    width: 100%;
    scale: 2.5;
    /* background-color: red; */
}
#nav svg {
    fill: #fff;
    height: 40px;
}

#nav .logo {
    /* background-color: blue; */
    fill: #fff;
    width: 10vw;
}

#nav .country {
    width: 1.3vw;
    fill: #fff;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

#nav-part2 h4 {
    font-size: 1.3vw;
    font-family: montserrat;
    color: #fff;

}

#page1 {
    height: 100vh;
    width: 100%;
    scale: 0.8;
    background-color: #241f11;
    /* background-image: url(https://join.ames-foundation.com/images/bg-texture.webp); */
    border-radius: 5px;
    /* background-color: lightseagreen; */
    position: relative;
}



#content button {
    padding: 1.5vw 3.5vw;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 2.5vw;
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-family: manuka;
    font-weight: 900;
    text-transform: uppercase;
}


#texture {
    height: 100%;
    width: 100%;
    background-image: url(./bg-texture.jpg);
    opacity: 0.5;
    position: absolute;
}

#timer {
    height: 8vw;
    width: 18vw;
    overflow: hidden;
    /* background-color: red; */
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: #fff;
    text-align: right;
    /* background-color: red; */
    z-index: 99;

}

#timer h1 {
    font-size: 7vw;
    font-weight: 800;
    font-family: manuka;
    transition-delay: 1s;
    transition: all ease 0.8s;
}


#page1 button {
    padding: 1.45vw 4.2vw;
    font-size: 2.6vw;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition-delay: 1s;
    transition: all ease 0.8s;
    font-weight: 900;
    /* margin-left: -5vw; */
    opacity: 0;
    position: relative;
    overflow: hidden;
}

button::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    /* top: 0; */
    bottom: -100%;
    transition: all ease 0.4s;
    left: 0;
}

button:hover::after {
    bottom: 0;
}

button span {
    position: relative;
    transition: all ease 0.4s;
    z-index: 9;
}

button:hover span {
    color: #000;
}

#content {
    position: relative;
    z-index: 9;
    color: #fff;
    padding: 4vw 4vw;
    padding-top: 10vw;
}

#content h1 {
    font-family: manuka;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20vw;
    line-height: 18vw;
}

#content h1 span {
    font-weight: 900;
}

#content #patti {
    height: 40vw;
    position: absolute;
    top: 9%;
    z-index: 8;
    left: 15%;
}

#content #log {
    height: 28vw;
    position: absolute;
    top: 7%;
    rotate: 3deg;
    z-index: 7;
    left: 51%;
    opacity: 0;
}

#main #video-container {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 1vw 5vw;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2 {
    height: 100vh;
    width: 500vw;
    /* background-color: #fbfb9e; */
    position: relative;
    display: flex;
}

#page2-part1 {
    height: 100%;
    width: 100vw;
    /* background-color: lightblue; */
    padding: 5vw;
    padding-top: 10vw;

}

#page2-part2 {
    height: 100%;
    width: 400vw;
    /* background-color: salmon; */
}

#page2-part1 h1 {
    font-family: manuka;
    font-size: 4.8vw;
    color: #ddd;

}

#page2-part1 h1 span {
    font-family: manuka;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #1E1A0B;
    color: #f6f6f1;
    padding: 5vw;
}

.elem {
    height: 25vh;
    border-top: 2px solid #fff;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30%;
    width: 70%;
    /* background-color: red; */
}

.elem h1 {
    font-family: manuka;
    font-size: 5vw;
}

.elem p {
    width: 40%;
    opacity: 0;
    font-family: gilroy;

}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #fff;
}

#page3 img {
    position: absolute;
}


#page4 {
    height: 100vh;
    width: 100%;
    position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 3vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

