* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:manuka;
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
    overflow: hidden;
}
#nav{
    width: 100%;
    display:flex ;
    align-items:center ;
    justify-content: space-between;
    padding: 1vw 3vw;
    /* background-color: red; */
    position: fixed;
    z-index: 99;
    top: -10%;
    opacity: 0;
}
#nav .logo{
    /* background-color: blue; */
    fill: #fff;
    width: 10vw;
}
#nav .country{
    width: 1.3vw;
    fill: #fff;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

} 
#nav-part2 h4{
    font-size: 1.3vw;
    font-family: montserrat;
    color: #fff;

}
#page1{
    height: 100vh;
    width: 100%;
    scale: 0.8;
    background-color: #241f11;
    /* background-image: url(https://join.ames-foundation.com/images/bg-texture.webp); */
    border-radius: 5px;
    /* background-color: lightseagreen; */
    position: relative;
}

#texture{
    height: 100%;
    width: 100%;
    background-image: url(./bg-texture.jpg);
    opacity: 0.5;
    position: absolute;
}
#timer{
    height: 8vw;
    width: 18vw;
    overflow: hidden;
    /* background-color: red; */
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: #fff;
    text-align: right;
    /* background-color: red; */
    z-index: 99;

}

#timer h1{
    font-size: 7vw;
    font-weight: 800;
    transition-delay: 1s;
    transition: all ease 0.8s;
}


#page1 button{
    padding: 1.45vw 4.2vw;
    font-size: 2.6vw;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition-delay: 1s;
    transition: all ease 0.8s;
    font-weight: 900;
    /* margin-left: -5vw; */
    opacity: 0;
    position: relative;
    overflow: hidden;
}

button::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    /* top: 0; */
    bottom: -100%;
    transition: all ease 0.4s;
    left: 0;
}

button:hover::after{
    bottom: 0;
}

button span{
    position: relative;
    transition: all ease 0.4s;
    z-index: 9;
}

button:hover span{
    color: #000;
}

#content{
    position: relative;
    z-index: 9;
    color: #fff;
    padding: 4vw 4vw;
    padding-top: 10vw;
}

#content h1{
    font-family: manuka;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20vw;
    line-height: 18vw;
}
#content h1 span{
    font-weight: 900;
}

#content #patti{
    height: 40vw;
    position: absolute;
    top: 9%;
    z-index: 8;
    left: 15%;
}

#content #log{
    height: 28vw;
    position: absolute;
    top: 7%;
    rotate: 3deg;
    z-index: 7;
    left: 51%;
    opacity: 0;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    /* background-image: url(https://join.ames-foundation.com/images/bg-texture.webp); */
    /* background-color: lightseagreen; */
    position: relative;
}

#page2-part1{
    height: 50vh;
    width: 100%;
    background-color: #241f11;
    /* background-image: url(https://join.ames-foundation.com/images/bg-texture.webp); */
    /* background-color: lightseagreen; */
    position: relative;
}


#page2 video{
    width: 96%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    left: 2%;
    object-fit: cover;
}